@charset "utf-8";

$primary: #4f2a93;
$secondary: #A5A1AC;

$info: #50b5e9;
$light: #EDECEE;
$success: #32BD8A;
$link-color: #2995cd;
$link-hover-color: #2995cd;

$font-size-base: 0.875rem;
$h1-font-size: 1rem * 1.5;
$h2-font-size: 1rem * 1.25;
$h3-font-size: 1rem;
$h4-font-size: 0.875rem;
// $h5-font-size: $font-size-base * 1.25;
// $h6-font-size: $font-size-base;

// custom variables
$header-height: 56px;
$purple: #925cf3;